.root{
    width:500px;
    height:100%;
    border:1px solid black;
    padding:20px;
    margin:20px auto;
}

h2{text-align: center;}

form{margin: 20px 0 50px;border:1px solid #dfdfdf;padding: 10px;}
.card{margin: 20px 0;}
.btn{margin-right: 10px;}