.root{width:500px;height:100%;border:1px solid black;margin:20px auto;padding:20px;}
.root button{margin-right:10px;margin-bottom: 30px;}
.root h3{text-align: center;margin-top: 20px;}
.card{margin-bottom: 10px;}